$primary: hsl(192, 95%, 68%);
$bg: hsl(210, 36%, 90%);
$clr-white: #fff;
$fontFamily: 'Roboto', sans-serif;
$transition: all 0.3s linear;
$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-3: hsl(209, 34%, 30%);
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-9: hsl(212, 33%, 89%);
$clr-grey-10: hsl(210, 36%, 96%);
$hover: hsl(184, 91%, 17%);
$radius: 0.25rem;
$spacing: 0.2rem;
$max-width: 80rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
